*{
    font-family: sans-serif;
}
#imageMain{
    position: relative;
    left:75px;
    top:40px;
    width:100px;
    height:50px;
}
#main{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:50px;
    width:27vw;
    margin-left:32.5vw;
    border-radius: 30px;
    margin-top:9.6vh;
    text-align: center;
}
form>label{
    margin-right:420px;
    font-size: 18px;
    color:rgb(48, 78, 102);
    margin-left: 15px;
}
input{
    display: block;
    margin-bottom:50px;
    margin-top:10px;
    margin-left:10px;
    width:420px;
    height:42px;
    border-radius: 7px;
    border:1px solid rgba(205, 203, 203, 0.722);
    font-size:16px;
    padding-left:20px;
}
input::placeholder{
    color:rgba(179, 174, 174, 0.722);
}
input[type='submit']
{
    background: rgb(65, 82, 130);
    height:69px;
    width:470px;
    margin-left:-1px;
    margin-top:80px;
    color:#fff;
    font-size: 22px;
}
input[type='submit']:hover{
    height:71px;
}
#main>img{
    margin-left:45%;
    margin-top:-8px;
    display: block;
    width:66px;
    height:66px;
    margin-bottom:0px;
}
#googleimg{
    width:210px;
    height: 53px;
    margin:14.5px 0px;
    margin-left:25px;
}
#googleimg:hover{
    height: 54px;
    margin-bottom: 13.5px;

}
#flex{
    display: grid;
    grid-template-columns:140px 250px 140px; 
    justify-content: center;
    width:120%;
    margin-left:-47px;
    margin-bottom:50px;
}
#flex>div{
    font-size: 15px;    
}
#flex>div>hr{
   border:none;
   height:0.5px;
   color:rgb(207, 205, 205);
   background-color:rgb(215, 210, 210);
}
#pp{
    display: flex;
    margin-top:-50px;
    column-gap: 90px;
    font-size:15px;
    margin-left:20px;
}
#a1{
    text-decoration: none;
    color: rgb(120, 114, 114);
    margin-top:10px;
    margin-left:20px;
}
#a2{
    text-decoration: none;
    color: rgb(120, 114, 114);
}
#a1:hover{
    text-decoration: underline;
    color: rgb(120, 114, 114);
}
#a2:hover{
    text-decoration: underline;
    color: rgb(120, 114, 114);
}
#lock{
    display: inline;
   font-size:20px;
   margin-right:10px;
   color: rgb(120, 114, 114);
}
#para{
    display: inline;
    margin-top:20px;
}
#divpp{
    margin-top: 21px;
    margin-right:-10px;
}
#imgcapt1{
    width:300px;
    height:80px;
    margin-bottom:-85px;
    display: block;
    margin-left:-230px;
}
#imgcapt1:hover{
    margin-left:-20px;
    transition: 0.8s ease;
}
#container{
    height: auto;
}
#but1{
    background-color: rgb(52, 52, 126);
    color:#fff;
    font-size:18px;
    padding:15px 22px;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    right:75px;
    top:40px;
}
#but1:hover{
    margin-top:-5px;
    transition: 0.2s ease-in-out;
}
